@page
@model LoginWebApp.Pages.AngularLoginModel
@{
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>LoginApp</title>
    <base href="/AngularLogin">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="styles.css">
    <style>
        .mat-typography {
            font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
            letter-spacing: normal
        }

        html, body {
            height: 100%
        }

        body {
            margin: 0;
            font-family: Roboto,Helvetica Neue,sans-serif
        }
    </style>
    <link rel="stylesheet" href="styles.b8641df26df50f8b.css" media="print" onload="this.media='all'">
    <noscript><link rel="stylesheet" href="~/bundle/dist/styles.b8641df26df50f8b.css"></noscript>
</head>
<body>
    <script src="~/bundle/dist/runtime.js" type="module"></script>
    <script src="~/bundle/dist/polyfills.js" type="module"></script>
    <script src="~/bundle/dist/vendor.js" type="module"></script>
    <script src="~/bundle/dist/main.js" type="module"></script>
    <script src="~/bundle/dist/runtime.e9bb7a23fbe4387c.js" type="module"></script>
    <script src="~/bundle/dist/polyfills.38bb67157a257b16.js" type="module"></script>
    <script src="~/bundle/dist/main.6a85057bd710072c.js" type="module"></script>
    <link rel="stylesheet" href="~/bundle/dist/styles.b8641df26df50f8b.css"/>
    <app-root></app-root>

</body>
</html>

